<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.lizejun.repotransition">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContentTransitionOriginalActivity" />
        <activity android:name=".ContentTransitionTargetActivity" />
        <activity android:name=".AppBarLayoutActivity" />
        <activity android:name=".BottomSheetActivity" />
        <activity android:name=".FABActivity" />
        <activity android:name=".DrawerLayoutActivity" />
        <activity android:name=".SnackBarActivity" />
        <activity android:name=".NavigationBarActivity" />
        <activity android:name=".TabLayoutActivity" />
        <activity android:name=".TextInputActivity" />
        <activity android:name=".VectorDrawableActivity"></activity>
    </application>

</manifest>